
html  {
    background-color: $grey;
}

.carDescription {
    color: white;
    text-align: center;
    margin: 2rem 5rem 5rem 5rem;
    font-family: $mainFont;

    h2 {
        font-family: $titleFont;
        font-size: 2rem;
        margin: 1rem;
    }

    p {
        margin-bottom: 2rem;
    }

    hr {
        border: 1px solid darkblue;
        background-color: darkblue;
    }

    img {
        display: flex;
        align-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 3rem;
        width: 600px;
        max-width: 600px;
    }

}